{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">

  <div> <a class="back-link" href="./opening-days-start.html">Back</a> </div>
  <div class="grid-row">
      <div class="column-two-thirds">


      <br>
      <span class="progress-indicator">Section 2 of 3</span>

      <h1 class="heading-large" style="margin-top:5px">Opening days</h1>
      <div class="form-group">
        <label class="form-label" for="textarea">
          When will this establishment be open and serving or preparing food?
          <p class="form-hint">For example:
            <ul class="form-hint">
              <li> "Only serving food during December at Christmas markets."</li>
              <li>"Open at weekends from June and August"</li>
          </p>
        </label>
        <textarea class="form-control form-control-3-4" name="textarea" id="textarea" rows="5"></textarea>
      </div>


      <div class="grid-row">
        <a class="button" href="./businesstype.html" role="button">Continue</a>
      </div>




      </details>

      </div>
  </div>
  </div>







</main>

{% endblock %}
