{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">
  <div> <a class="back-link" href="/contact.html">Back to establishment name</a> </div>


  <div class="form-group">

    <div class="form-group">
      <label> <span class="heading-large">
    			Operator address
    		</span> </label>
    </div>
    <!--Correct code-->
    <div clss="form-group">
      <div class="form-group">
        <label for="postcode"> <span class="form-label">Postcode</span> </label>
        <input class="form-control" name="postcode" id="postcode" type="text" autofocus> </div>
      <div class="form-group">
        <label for="first-line"> <span class="form-label">House name or number (optional)</span> </label>
        <input class="form-control" name="first-line" id="first-line" type="text"> </div>
      <!--		Continue button-->
    </div> <a class="button" href="#" role="button">Find address</a> </div>
  <div class="form-group">
    <div class="big-gap"> </div>
  </div>
  <!--No address information			-->


  </div>

  </div>
  <div class="grid-row">
    <a id="operator-continue-button" class="button" href="./index" role="button">Save and continue</a>
  </div>


  </fieldset>
  </div>
  </form>


  </div>
  </div>
</main>

{% endblock %}
