{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">

  <div> <a class="back-link" href="./operator-type.html">Back</a> </div>
  <div class="grid-row">
    <div class="column-two-thirds">

        <br>
        <span class="progress-indicator">Section 1 of 3</span>

      <h1 class="heading-large" style="margin-top:5px">Company details</h1>

      <div class="form-group">
        <label class="form-label" for="fbo-company-number">Registered company name
        </label>
        <span class="form-hint">The name of the registered company that is acting as the operator of this food business</span>
        <input class="form-control" id="fbo-company-number" type="text" name="fbo-company-number">
      </div>

      <div class="form-group">
        <label class="form-label" for="fbo-company-number">Companies house number
        </label>
        <span class="form-hint">Every registered company will have a Companies House reference number</span>
        <input class="form-control" id="fbo-company-number" type="text" name="fbo-company-number">
      </div>

      <div class="form-group">
        <details>
          <summary><span class="summary">I don't have a company reference number</span></summary>
          <div class="panel panel-border-narrow">
            <p class="label"> Every limited company has to be registered with Companies House, and will have a company reference number. You can find your company reference number by visiting the <a href="https://beta.companieshouse.gov.uk/" target="_blank"> Companies House website.</a>
          </div>
        </details>

      </div>

      <div class="grid-row">
        <a class="button" href="./contact-representative.html" role="button">Continue</a>
      </div>




      </details>
    </div>

  </div>
  </div>







</main>

{% endblock %}
