{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">
  <div> <a class="back-link" href="./registration-role.html">Back</a> </div>
  <br>
  <div class="grid-row">
    <div class="column-two-thirds">


      <form>
        <div class="form-group">
          <fieldset>
    
            <form>
              <div class="form-group">
                <fieldset>

                  <legend>
                      <span class="progress-indicator">Section 1 of 3</span>

                    <h1 class="heading-large" style="margin-top:5px">Who operates this business?</h1>
                  </legend>

                  <div class="form-group">
                    <details>
                      <summary><span class="summary">What is a food business operator</span></summary>
                      <div class="panel panel-border-narrow">
                        <p class="label"> The food business operator is the person, charity or company who makes the decisions about the food business, what it serves and how it operates.<p>
                      </div>
                    </details>
                  </div>

                    <div class="multiple-choice">
                      <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
                      <label for="radio-1">It is owned or operated by an individual person </label>
                    </div>
                    <div class="multiple-choice">
                      <input id="radio-2" type="radio" name="radio-group" value="Isle of Man or the Channel Islands">
                      <label for="radio-2">It is owned or operated by a company
                  </label>
                    </div>
                    <div class="multiple-choice">
                      <input id="radio-3" type="radio" name="radio-group" value="I am a British citizen living abroad">
                      <label for="radio-3">It is owned or operated by a charity
                    </label>
                    </div>

                </fieldset>
                </div>
            </form>


            </diov>
            <div class="grid-row">
              <a id="operator-continue-button" class="button" href="./operator-ltdcompany-name.html" role="button">Continue</a>
            </div>


          </fieldset>
          </div>
      </form>


      </div>
    </div>
</main>

{% endblock %}
