{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">
  <div> <a class="back-link" href="./index.html">Back to start</a> </div>


  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Update a food business record
      </h1>
      <p>
        You can use this service to update your food business registration.
      </p>

        <p>
          If you registered using a paper form, a PDF or an online form from your Local Council, you may be asked to provide extra information about the activities taking place in this establishment.
        </p>

        <p class="heading-small">
            In order to update your registration, you will need
        </p>
        <ul class="list-bullet">
          <li>Food business registration number</li>
          <li>Operator email address</li>
          <li>or the operator phone number</li>


      <form>
        <div class="form-group">
          <fieldset>



            </div>
            <div class="grid-row">
              <a id="operator-continue-button" class="button button-start" href="./registration-recall" role="button">Update registration</a>
            </div>


          </fieldset>
        </div>
      </form>


    </div>
  </div>
</main>

{% endblock %}
