{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">
  <div> <a class="back-link" href="./index.html">Back</a> </div>


  <div class="grid-row">
    <div class="column-two-thirds">


      <form>
        <div class="form-group">
          <fieldset>

            <form>
              <div class="form-group">

                <h1 class="heading-large">
                  Business activities
                </h1>
                <fieldset>
                  <form>
                    <fieldset>

                      <legend>
                        <h3 class="heading-medium">What kind of activites will this food establishment do?</h3>
                        <span class="body-text">Select all that apply</span>
                      </legend>

                      <div class="multiple-choice">
                        <input id="waste-type-1" name="waste-types" type="checkbox" value="waste-mines">
                        <label for="waste-type-1">Handling, preparation and cooking of open food to be served to customers.
                          <span class="form-hint">For example a restaurant, cafe or coffee shop serving freshly prepared food.</span>
                        </label>
                      </div>

                      <div class="multiple-choice">
                        <input id="waste-type-2" name="waste-types" type="checkbox" value="waste-mines">
                        <label for="waste-type-2">Re-wrapping or re-packaging chilled, frozen or room temperature foods to be sold to customers.
                          <span class="form-hint">For example re-packing pre-made sandwiches, re-packing sweets etc.</span>
                        </label>
                      </div>

                    </fieldset>
                  </form>
              </div>
            </form>

            </diov>
            <div class="grid-row">
              <a id="operator-continue-button" class="button" href="./index" role="button">Save and continue</a>
            </div>


          </fieldset>
        </div>
      </form>


    </div>
  </div>
</main>

{% endblock %}
