{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">
  <div> <a class="back-link" href="./index.html">Back</a> </div>


  <div class="grid-row">
    <div class="column-two-thirds">


      <form>
        <div class="form-group">
          <fieldset>

            <form>
              <div class="form-group">
                <fieldset>

                  <legend>
                    <h1 class="heading-medium">Will this establishment do any particularly high risk food production or preservation activities?</h1>
                  </legend>

                  <p class="form-hint">
                    Select all that apply</p>


                  <div class="multiple-choice">
                    <input id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal">
                    <label for="waste-type-1">Raw fish
                      <span class="form-hint">For example sushi, sashimi or ceviche</span>
                    </label>
                  </div>
                  <div class="multiple-choice">
                    <input id="waste-type-2" name="waste-types" type="checkbox" value="waste-mines">
                    <label for="waste-type-2">Raw or undercooked meat
                      <span class="form-hint">For example meat tartare, meat carpaccio or rare burgers</span>
                    </label>
                  </div>
                  <div class="multiple-choice">
                    <input id="waste-type-3" name="waste-types" type="checkbox" value="waste-farm-agricultural">
                    <label for="waste-type-3">Low temperature and water bath cooking
                      <span class="form-hint">For example sous vide or slow cooking</span>
                    </label>
                  </div>
                  <div class="multiple-choice">
                    <input id="waste-type-4" name="waste-types" type="checkbox" value="waste-animal">
                    <label for="waste-type-4">Fermentation of meats
                      <span class="form-hint">For example production of salami or fermented sausages</span>
                    </label>
                  </div>
                  <div class="multiple-choice">
                    <input id="waste-type-9" name="waste-types" type="checkbox" value="waste-mines">
                    <label for="waste-type-9">Cooking and cooling meats to serve cool
                      <span class="form-hint">For example production of ham or cured meats</span>
                    </label>
                  </div>

                  <div class="multiple-choice">
                    <input id="radio-1" type="checkbox" name="waste-types" value="Northern Ireland">
                    <label for="radio-1">Specialist preservation methods
                    <span class="form-hint">For example vacuum packing, canning, salting or air drying</span>
                  </label>
                  </div>
                  <div class="multiple-choice">
                    <input id="radio-2" type="checkbox" name="waste-types" value="Isle of Man or the Channel Islands">
                    <label for="radio-2">Cook and chill food to be reheated such as production of ready meals
                      <span class="form-hint">For example production of ready meals or blast chilled meals to be reheated. This does not include simple catering operations where pre-prepared food is reheated</span>
                    </label>
                  </div>
                  <div class="multiple-choice">
                    <input id="radio-3" type="checkbox" name="waste-types" value="Northern Ireland">
                    <label for="radio-3">Other</label>
                  </div>

                </fieldset>
              </div>
            </form>

            </diov>
            <div class="grid-row">
              <a id="operator-continue-button" class="button" href="./index" role="button">Save and continue</a>
            </div>


          </fieldset>
        </div>
      </form>


    </div>
  </div>
</main>

{% endblock %}
