{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">
  <div> <a class="back-link" href="./index.html">Back</a> </div>


  <div class="grid-row">
    <div class="column-two-thirds">


      <form>
        <div class="form-group">
          <fieldset>

            <form>
              <div class="form-group">

                <h1 class="heading-large">
                  Business activities
                </h1>
                <fieldset>
                  <form>
                    <div class="form-group">
                      <fieldset>

                        <legend>
                          <h1 class="heading-medium">Which of the following activities will this establishment do?</h1>
                        </legend>

                        
                      </fieldset>
                    </div>
                  </form>
              </div>
            </form>

            </diov>
            <div class="grid-row">
              <a id="operator-continue-button" class="button" href="./index" role="button">Save and continue</a>
            </div>


            </fieldset>
        </div>
      </form>


    </div>
  </div>
</main>

{% endblock %}
