{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">
  <div> <a class="back-link" href="./index.html">Back</a> </div>


  <div class="grid-row">
    <div class="column-two-thirds">


      <form>
        <div class="form-group">
          <fieldset>

            <form>
              <div class="form-group">
                <fieldset>

                  <legend>
                    <h1 class="heading-medium">Will this establishment do any particularly high risk food production or preservation activities?</h1>
                  </legend>
                  <p class="form-hint">
                    High risk processes include things like
                    <ul class="list list-bullet">
<li>raw fish such as sushi</li>
<li>raw or undercooked meat such as meat tartare or rare burgers</li>
<li>low temperature and water bath cooking such as sous-vide or slow cooking</li>
<li>fermentation of meats such as salami or fermented sausages</li>
<li>cooking with acid such as ceviche</li>
<li>specialist preservation methods such as vacuum packing, canning, salting or air drying</li>
<li>cooking and cooling meats to serve cool such as production of ham</li>
<li>cook and chill food to be reheated such as production of ready meals</li>


                    </ul>

                  </p>

                  <div class="multiple-choice">
                    <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
                    <label for="radio-1">Yes</label>
                  </div>
                  <div class="multiple-choice">
                    <input id="radio-2" type="radio" name="radio-group" value="Isle of Man or the Channel Islands">
                    <label for="radio-2">No</label>
                  </div>

                </fieldset>
              </div>
            </form>

            </diov>
            <div class="grid-row">
              <a id="operator-continue-button" class="button" href="./index" role="button">Save and continue</a>
            </div>


          </fieldset>
        </div>
      </form>


    </div>
  </div>
</main>

{% endblock %}
