{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">
  <div> <a class="back-link" href="./index.html">Back to start</a> </div>


  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Oops
      </h1>
      <p>
        We seem to be experiencing some difficulties.
        Try refreshing this page to fix the problem.
      </p>
      <p>
        If you have seen this message several times, please report it below.
      </p>

      <div class="grid-row">
        <a id="operator-continue-button" href="https://goo.gl/forms/WB5adxvWQdDIfVvs2" class="button" href="" role="button">Report a problem</a>
      </div>


    </div>
  </div>
</main>

{% endblock %}
