{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">


  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Something went wrong
      </h1>
      <p>
        Your registration details could not be submitted to the local council
      </p>
      <p>
        We will re-try to submit your registration and it will be submitted to your local council within 72 hours
      </p>


      <div class="square">
        <p class="reg-box-text">This is your unique food business registration number. Please make note of it for
          your
          records.</p>
        <p class="bold">1535 - 3567 - 4456 - 3456</p>
      </div>

      <p>A copy of this registration has been sent to <span class="bold">user@gmail.co.uk</span>
      </p>




    </div>
  </div>
</main>

{% endblock %}