{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">

  <div> <a class="back-link" href="./index.html">Back</a> </div>
  <div class="grid-row">
    <div class="column-two-thirds">


      <h1 class="heading-large">New food business</h1>
      <div class="form-group">
        <label class="form-label" for="fbo-name">What is the trading name of this establishment?</label>
        <input class="form-control" id="fbo-name" type="text" name="fbo-name">
      </div>



      <div class="grid-row">
        <a class="button" href="./index.html" role="button">Save and continue</a>
      </div>




      </details>
    </div>

  </div>
  </div>







</main>

{% endblock %}
