{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}
<meta charset='utf-8'>
<main id="content" role="main">
  <div class="grid-row">

    <h1 class="heading-large">
      Registration flow page examples
    </h1>
    <p>
      List of all the pages in the non-approved "register a new food business" flow.
    </p>
    <p>
      These designs are all in draft form, and will therefore regularly be changing. <strong class="bold-small">They
        are not the finished article.</strong> They are available in accordance with the FSA's spirit of open data.
    </p>

    <div class="panel panel-border-wide">
      <p class="heading-small">
        Please ask permission from the Slice and Dice team before sharing this site with other people. As it is a
        design playground for ideas, it may be out of date or misleading and not truly reflect what the team are
        currently working towards.
      </p>
    </div>


    <ul class="list">
      <li class="heading-medium">Operator section</li>
      <li><a href="./start">Start</a></li>
      <li><a href="./registration-type">Registration type<a></li>
      <li><a href="./registration-role">Registration role</a></li>
      <li><a href="./operator-type">Operator type</a></li>
      <li><a href="./soletrader-name">Sole-trader name</a></li>
      <li><a href="./operator-partnership-name">Partnership name</li>
      <li><a href="./operator-partnership-summary">Partnership summary</li>
      <li><a href="./operator-partnership-select-contact">Partnership selction</li>
      <li><a href="./charity-name">Charity name</a></li>
      <li><a href="./operator-ltdcompany-name">Company name</a></li>
      <li><a href="./operator-ltdcompany-select">Company selection</a></li>
      <li><a href="./operator-experience">Operator experience</a></li>
      <li><a href="./operator-address">Operator address</a></li>
      <li><a href="./operator-address-partnership">Partnership operator address</a></li>
      <li><a href="./operator-address-select">Operator address selection</a></li>
      <li><a href="./operator-address-manual">Operator address manual input</a></li>
      <li><a href="./operator-simple-contact">Operator contact details</a></li>
      <li><a href="./contact-representative">Reprensentative of operator contact details</a></li>
      <li><a href="./operator-primaryauthority.html">Primary Authority</a></li>
      <li class="heading-medium">Establishment section</li>
      <li><a href="./establishment-name">Establishment name</a></li>
      <li><a href="./establishment-address">Establishment address</a></li>
      <li><a href="./establishment-address-select">Establishment address selection</a></li>
      <li><a href="./establishment-address-manual">Establishment address manual input</a></li>
      <li><a href="./establishment-address-type">Establishment address details</a></li>
      <li><a href="./establishment-simple-contact">Establishment contact</a></li>
      <li><a href="./trading-status">Opening status</a></li>
      <li><a href="./trading-date-past">Opening date in the past</a></li>
      <li><a href="./trading-date-future">Opening date in the future</a></li>
      <li><a href="./opening-days-start">Opening days start</a></li>
      <li><a href="./opening-days-irregular">Irregular opening days</a></li>
      <li><a href="./opening-days-some-days">Some days a week</a></li>
      <li><a href="./opening-hours">Opening times</a></li>
      <li><a href="./opening-hours-same-times">Opening times same time every day</a></li>
      <li><a href="./opening-hours-different-times">Opening times different time every day</a></li>
      <li class="heading-medium">Activities section</li>
      <li><a href="./business-customers">Customers</a></li>
      <li><a href="./business-water-supply">Water supply</a></li>
      <li><a href="./business-import-export">Import and Export</a></li>
      <li><a href="./business-import">Import</a></li>
      <li><a href="./business-export">Export</a></li>
      <li><a href="./businesstype">Business type</a></li>
      <li><a href="./businesstype-supp-questions">Business type supplementary questions</a></li>
      <li><a href="./business-otherdetail">Other details</a></li>
      <li class="heading-medium">Summary section</li>
      <li><a href="./summary">Summary for sole trader</a></li>
      <li><a href="./summary-partnership">Summary for partnership</a></li>
      <li><a href="./summary-company">Summary for company</a></li>
      <li><a href="./summary-charity">Summary for charity</a></li>
      <li><a href="./declaration">Declaration</a></li>
      <li><a href="./summary-confirmation">Confirmation</a></li>
      <li><a href="./summary-confirmation-dualLC">Confirmation with two councils</a></li>
      <li class="heading-medium">Errors</li>
      <li><a href="./error-404">404 error</a></li>
      <li><a href="./error-500">500 error</a></li>
      <li><a href="./error-all">Catch-all error</a></li>
      <li><a href="./error-slow-submission">Slow submission error</a></li>
      <li><a href="./error-submission-failure">Submission failure</a></li>
      <li class="heading-medium">Maintain</li>

    </ul>

  </div>
  </details>
  </div>

  <div class="grid-row">
    <a class="button button-start" href="/gds-test/home" role="button">Example GDS form pages</a>
  </div>



  </div>
</main>

{% endblock %}