{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">

  <div> <a class="back-link" href="./index.html">Back</a> </div>
  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="form-group">

        <h1 class="heading-large">
          Company details
        </h1>

        <div class="form-group">
          <details>
            <summary><span class="summary">What is a food business operator</span></summary>
            <div class="panel panel-border-narrow">
              <p class="label"> The food business operator is the person, charity or company who makes the decisions about the food business, what it serves and how it operates.
                <p>
            </div>
          </details>
        </div>


        <!--Correct code-->

        <h2 class="heading-medium">Company number</h2>
        <p class="bold">07856497<a href="">Change</a></p>

        <h2 class="heading-medium">Select your company</h2>
        <fieldset>
          <form>
            <fieldset>

              <div class="multiple-choice">
                <input id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal">
                <label for="waste-type-1">
                  <span class="bold">PITTSFORD LIMITED</span>
                  <span class="form-hint">Incorporated on 3 September 2018</span>
                  <span class="label">Station House, Old Station Road, Winchester, SO23 4HV</span>
                </label>
              </div>

            </fieldset>
          </form>
      </div>

      <div class="form-group">
        <details>
          <summary>
            <span class="summary">I can't find my company</span>
          </summary>
          <div class="panel panel-border-narrow">
            <p class="label"> Every limited company has to be registered with Companies House, and will have a company reference number. You
              can find your company reference number by visiting the
              <a href="https://beta.companieshouse.gov.uk/">Companies House website.</a>
            </p>
            <p>If you are unable to find your company details, you can <a href="./ltdcompany-name">add them manually</a> instead.</p>
          </div>
        </details>
      </div>
      <div class="big-gap"></div>
      <div class="big-gap"></div>
      <div class="big-gap"></div>
      <div class="big-gap"></div>
      <div class="big-gap"></div>
      <div class="big-gap"></div>




      <div class="grid-row">
        <a id="operator-continue-button" class="button" href="./index" role="button">Continue</a>
      </div>

    </div>
  </div>

</main>

{% endblock %}
