{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">
  <div> <a class="back-link" href="./index.html">Back</a> </div>


  <div class="grid-row">
    <div class="column-two-thirds">


      <form>
        <div class="form-group">
          <fieldset>

            <form>
              <div class="form-group">

                <fieldset>
                  <form>
                    <fieldset>

                      <legend>
                        <h1 class="heading-large">When will this establishment be open?</h1>
                        <div class="big-gap"></div>

                      </legend>

                      <div class="form-group">
                        <label class="form-label" for="fbo-first-name">Monday opening hours</label>
                        <input class="form-control" id="fbo-first-name" type="text" name="fbo-first-name">
                      </div>

                      <div class="form-group">
                        <label class="form-label" for="fbo-first-name">Thursday opening hours</label>
                        <input class="form-control" id="fbo-first-name" type="text" name="fbo-first-name">
                      </div>

                      <div class="form-group">
                        <label class="form-label" for="fbo-first-name">Friday opening hours</label>
                        <input class="form-control" id="fbo-first-name" type="text" name="fbo-first-name">
                      </div>


                    </fieldset>
                  </form>
              </div>

              <div class="big-gap"></div>

              
            </form>

            </diov>
            <div class="grid-row">
              <a id="operator-continue-button" class="button" href="./index" role="button">Save</a>
            </div>


            </fieldset>
        </div>
      </form>


    </div>
  </div>
</main>

{% endblock %}
