{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">

    <div> <a class="back-link" href="./index.html">Back</a> </div>
    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="form-group">
                <h1 class="heading-large">Are you in a Primary Authority partnership with a local
                    council?</h1>

                <div class="multiple-choice">
                    <input id="waste-type-2" name="waste-types" type="radio" value="waste-mines">
                    <label for="waste-type-2">Yes</label>
                </div>

                <div class="multiple-choice">
                    <input id="waste-type-3" name="waste-types" type="radio" value="waste-farm-agricultural">
                    <label for="waste-type-3">No</label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <details>
                <summary>
                    <span class="summary">What is Primary Authority?</span>
                </summary>
                <div class="panel panel-border-narrow">
                    <p class="label"> Primary Authority is a legal partnership between a business or individual and a
                        local council. It is a means for businesses with multiple outlets to recieve assured and
                        tailored advice on
                        environmental health, trading standards and fire safety regulations through a single point of
                        contact. <a class="back-link" href="https://www.food.gov.uk/primary-authority-national-inspection-strategy">Read
                            more
                            about Primary Authority and how to get one.</a>
                        <p>
                </div>
            </details>
        </div>

        <div class="grid-row">
            <a class="button" href="./index.html" role="button">Continue</a>
        </div>

        </details>
    </div>

    </div>
    </div>

</main>

{% endblock %}