{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">

  <div> <a class="back-link" href="./index.html">Back</a> </div>
  <div class="grid-row">
    <div class="column-two-thirds">


      <legend>
        <h1 class="heading-large">Add a person to this partnership</h1>
      </legend>

      <div class="form-group">
        <label class="form-label" for="fbo-first-name">First and middle names</label>
        <input class="form-control" id="fbo-first-name" type="text" name="fbo-first-name">
      </div>

      <div class="form-group">
        <label class="form-label" for="fbo-surname">Last name</label>
        <input class="form-control" id="fbo-surname" type="text" name="fbo-surname">
      </div>

      <div class="grid-row">
        <a class="button" href="./index.html" role="button">Continue</a>
      </div>


</main>

{% endblock %}
