{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">
  <div> <a class="back-link" href="./index.html">Back</a> </div>


  <div class="grid-row">
    <div class="column-two-thirds">

<h2 class="heading-large">
  Check your answers
</h2>

<!--Name Details table-->

<form>
<fieldset>



  <!--Operator details-->
  <table>
    <tbody>
      <tr>
        <td class="bold">Operator details</td>
        <td></td>
      </tr>

      <tr>
        <td>Type of operator</td>
        <td class="bold">Sole trader</td>
      </tr>

      <tr>
        <td>Name</td>
        <td class="bold">Jamie McKinnon</td>
        <td><a href="../index.html">Change</a></td>
      </tr>

      <tr>
        <td>Address</td>
        <td class="bold">
          <div>Hill Cottage</div>
          <div>Wakefield</div>
          <div>Leeds</div>
          <div>LD7 5NE</div>
        </td>
        <td><a href="../index.html">Change</a></td>
      </tr>

      <tr>
        <td>Contact</td>
        <td class="bold">
          <div>07813 345673</div>
          <div>jamie.mckinnon@gmail.com</div>
        </td>
        <td><a href="../index.html">Change</a></td>
      </tr>



      <!--Establishment details-->

      <tr>
        <td class="bold">Establishment details</td>
        <td></td>
      </tr>

      <tr>
        <td>Establishment</td>
        <td class="bold">Waterfront Sandwiches
          <div>
            <label class="form-hint-small">Mobile or moveable establishment</label>
          </div>
        </td>
        <td><a href="../index.html">Change</a></td>
      </tr>

      <tr>
        <td>Address</td>
        <td class="bold">
          <div>Waterfront Units</div>
          <div>Leeds</div>
          <div>LD3 6BR</div>
        </td>
        <td><a href="../index.html">Change</a></td>
      </tr>

      <tr>
        <td>Email address</td>
        <td class="bold">hello@waterfrontsandwiches.co.uk</td>
        <td><a href="../index.html">Change</a></td>
      </tr>

      <tr>
        <td>Phone number</td>
        <td class="bold">
          <div class="bold">023 475 2455</div>
          <div class="bold">07937 485112</div>
        </td>
        <td><a href="../index.html">Change</a></td>
      </tr>

      <tr>
        <td>Opened on</td>
        <td class="bold">8 Dec 2017</td>
        <td><a href="../index.html">Change</a></td>
      </tr>


      <!--Food activities-->
      <tr>
        <td class="bold">Activities</td>
        <td></td>
      </tr>

      <tr>
        <td>Customers</td>
        <td class="bold">End consumers</td>
        <td><a href="../index.html">Change</a></td>
      </tr>

      <tr>
        <td>Importing and Exporting</td>
        <td class="bold">Selling food imported by other businesses</td>
        <td><a href="../index.html">Change</a></td>
      </tr>

      <tr>
        <td>Business type</td>
        <td class="bold">
          <div class="bold">Takeaway</div>
          <div class="form-hint-small">Sandwich shop</div>
        </td>
        <td><a href="../index.html">Change</a></td>
      </tr>

      <tr>
        <td>Food activities</td>
        <td class="bold">
          <div class="bold">Preparing and/or cooking meat</div>
          <div class="bold">Maintaining meat at high temperatures</div>
        </td>
        <td><a href="../index.html">Change</a></td>
      </tr>

      <tr>
        <td>Food handlers</td>
        <td class="bold">1-5 food handlers</td>
        <td><a href="../index.html">Change</a></td>
      </tr>


      <tr>
        <td>Additional details</td>
        <td class="bold">
          <div>Registered with Norwich City Council too as often trade there.</div>
        </td>
        <td><a href="../index.html">Change</a></td>
      </tr>

    </tbody>
  </table>



</fieldset>
</form>

<div class="big-gap">
</div>

<div class="big-gap">
</div>


<!--Continue Button         -->
<div class="form-group">
      <div class="grid-row">
        <a id="operator-continue-button" class="button" href="./index" role="button">Save and continue</a>
      </div>
</div>


    </div>
  </div>
</main>

{% endblock %}
