{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">
  <div> <a class="back-link" href="./index.html">Back</a> </div>


  <div class="grid-row">
    <div class="column-two-thirds">

<h2 class="heading-large">
  Check your answers
</h2>

<!--Name Details table-->

<form>
<fieldset>



  <!--Operator details-->
  <table>
    <tbody>
      <tr>
        <td class="bold">Operator details</td>
        <td></td>
      </tr>

      <tr>
        <td>Type of operator</td>
        <td class="bold">Company</td>
        <td><a href="../index.html">Change</a></td>
      </tr>

      <tr>
        <td>Name</td>
        <td class="bold">Fancy Foods Ltd</td>
        <td><a href="../index.html">Change</a></td>
      </tr>

      <tr>
        <td>Company number</td>
        <td class="bold">07856497</td>
        <td><a href="../index.html">Change</a></td>
      </tr>

      <tr>
        <td>Address</td>
        <td class="bold">
          <div>Unit 13</div>
          <div>Humphreys Farm Estate</div>
          <div>Twyford</div>
          <div>SO34 8UB</div>
        </td>
        <td><a href="../index.html">Change</a></td>
      </tr>

      <tr>
        <td>Designated contact</td>
        <td class="bold">
          <div class="form-hint">Hannah Mason  •  Food Safety Manager</div>
          <div>01983 573956</div>
          <div>hannah.mason@fancyfoods.co.uk</div>

        </td>
        <td><a href="../index.html">Change</a></td>
      </tr>




      <!--Establishment details-->

      <tr>
        <td class="bold">Establishment details</td>
        <td></td>
      </tr>

      <tr>
        <td>Establishment</td>
        <td class="bold">The Cupcake Kitchen</td>
        <td><a href="../index.html">Change</a></td>
      </tr>

      <tr>
        <td>Address</td>
        <td class="bold">
          <div>Unit 3</div>
          <div>Brent Cross Shopping Centre</div>
          <div>Merton Road</div>
          <div>London</div>
          <div>SW15 7UC</div>
        </td>
        <td><a href="../index.html">Change</a></td>
      </tr>

      <tr>
        <td>Address type</td>
        <td class="bold">Place of business or commerical premises</td>
        <td><a href="../index.html">Change</a></td>
      </tr>

      <tr>
        <td>Email address</td>
        <td class="bold">info@thecupcakekitchen.co.uk</td>
        <td><a href="../index.html">Change</a></td>
      </tr>

      <tr>
        <td>Phone number</td>
        <td class="bold">
          <div class="bold">023 475 2455</div>
        </td>
        <td><a href="../index.html">Change</a></td>
      </tr>

      <tr>
        <td>Due to open</td>
        <td class="bold">8 Sep 2018</td>
        <td><a href="../index.html">Change</a></td>
      </tr>


      <!--Food activities-->
      <tr>
        <td class="bold">Activities</td>
        <td></td>
      </tr>

      <tr>
        <td>Customers</td>
        <td class="bold">End consumers</td>
        <td><a href="../index.html">Change</a></td>
      </tr>

      <tr>
        <td>Business type</td>
        <td class="bold">
          <div class="bold">Restaurant</div>
          <div class="form-hint-small">Cake shop</div>
        </td>
        <td><a href="../index.html">Change</a></td>
      </tr>

      <tr>
        <td>Food activities</td>
        <td class="bold">
          <div class="bold">No additional activities</div>
        </td>
        <td><a href="../index.html">Change</a></td>
      </tr>

      <tr>
        <td>Food handlers</td>
        <td class="bold">6-11 food handlers</td>
        <td><a href="../index.html">Change</a></td>
      </tr>

    </tbody>
  </table>



</fieldset>
</form>

<div class="big-gap">
</div>

<div class="big-gap">
</div>


<!--Continue Button         -->
<div class="form-group">
      <div class="grid-row">
        <a id="operator-continue-button" class="button" href="./index" role="button">Save and continue</a>
      </div>
</div>


    </div>
  </div>
</main>

{% endblock %}
