{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">


  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-large">
        Your Food Business Registration Confirmation
      </h2>

      <p>Thank you for submitting your food business registration. Your registration has been sent to
        <span class="bold-small">Rushmoor Borough Council.</span> To contact the food team at your Local Council please email
        <span class="bold-small">food@rushmoorboroughcouncil.gov.uk</span>
      </p>


      <div class="square">
        <p class="reg-box-text">Your unique food business registration number is</p>
        <p class="reg-box-number">1535 - 3567 - 4456 - 3456</p>
      </div>

      <div>
        <p class="heading-small">Submitted on</p>
        <p>3 Mar 2018</p>
        <p class="heading-small">Responsible Local Authority</p>
        <p>Bristol City Council</p>
      </div>

      <h2 class="heading-large">
        What's next?
      </h2>

      <div class="panel panel-border-wide">
        <p class="heading-small">
          You may receive an unannounced food inspection from your local council soon after you start trading. The council may contact
          you before the inspection to discuss how your business operates or to offer advice.
        </p>
      </div>

      <div class="big-gap">
      </div>

      <div class="big-gap">
      </div>

      <p>Meanwhile, there are some things you can do to help prepare for the opening of your business opening.
        <td>
          <a href="../index.html"></a>
        </td>
        </tr>
      </p>
      <div>
        <h2 class="heading-large">
          Find out here what you can do to prepare:
        </h2>
        <p>
          <td>
            <a href="https://www.food.gov.uk/business-guidance">Food safety and how to run a food business (including Northern Ireland)</a>
          </td>
          </tr>
        </p>
        <p>
          <td>
            <a href="https://www.businesscompanion.info/en/in-depthguides">Standards guidance for England and Wales</a>
          </td>
          </tr>
        </p>
        <p>
          <td>
            <a href="https://www.food.gov.uk/business-guidance/food-hygiene-ratings-for-businesses">How to achieve a high FHRS score and how to appeal</a>
          </td>
          </tr>
        </p>
        <p>
          <td>
            <a href="https://www.gov.uk/guidance/local-regulation-primary-authority">Do you qualify for primary authority partnership and how to get one</a>
          </td>
          </tr>
        </p>
      </div>



      <hr></hr>
      <!--Name Details table-->

      <form>
        <fieldset>



          <!--Operator details-->
          <table>
            <tbody>
              <tr>
                <td class="bold">Operator details</td>
                <td></td>
              </tr>

              <tr>
                <td>Type of operator</td>
                <td class="bold">Charity</td>
              </tr>

              <tr>
                <td>Name</td>
                <td class="bold">Farnborough Jewish Socity</td>

              </tr>

              <tr>
                <td>Charity number</td>
                <td class="bold">202963</td>

              </tr>

              <tr>
                <td>Address</td>
                <td class="bold">
                  <div>Farnborough Jewish Socity</div>
                  <div>London Road</div>
                  <div>Farnborough</div>
                  <div>FN78 2PL</div>
                </td>

              </tr>

              <tr>
                <td>Designated contact</td>
                <td class="bold">
                  <div class="form-hint">Lucasz Plestic • Health and Safety Director</div>
                  <div>07374 917364</div>
                  <div>lplestic@farnboroughsynagogue.co.uk</div>
                </td>

              </tr>




              <!--Establishment details-->

              <tr>
                <td class="bold">Establishment details</td>
                <td></td>
              </tr>

              <tr>
                <td>Establishment</td>
                <td class="bold">Farnborough Synangogue Cafe</td>

              </tr>

              <tr>
                <td>Address</td>
                <td class="bold">
                  <div>Farnborough Synagogue</div>
                  <div>14-16 George Street</div>
                  <div>Farnborough</div>
                  <div>FN3 4HH</div>
                </td>

              </tr>

              <tr>
                <td>Email address</td>
                <td class="bold">jgeier@farnboroughsynanguge.co.uk</td>

              </tr>

              <tr>
                <td>Phone number</td>
                <td class="bold">
                  <div class="bold">026 475 2455</div>
                </td>

              </tr>

              <tr>
                <td>Due to open</td>
                <td class="bold">13 Aug 2018</td>

              </tr>


              <!--Food activities-->
              <tr>
                <td class="bold">Activities</td>
                <td></td>
              </tr>

              <tr>
                <td>Customers</td>
                <td class="bold">End consumers</td>

              </tr>

              <tr>
                <td>Business type</td>
                <td class="bold">
                  <div class="bold">Restaurant</div>
                  <div class="form-hint-small">Cafe</div>
                </td>

              </tr>

              <tr>
                <td>Food activities</td>
                <td class="bold">
                  <div class="bold">Serving to vulnerable consumers</div>
                </td>

              </tr>

              <tr>
                <td>Food handlers</td>
                <td class="bold">6-11 food handlers</td>

              </tr>

              <tr>
                <td>Other details</td>
                <td class="bold">We are certified Kosher.</td>

              </tr>



            </tbody>
          </table>



        </fieldset>
      </form>

      <div class="big-gap">
      </div>

      <div class="big-gap">
      </div>



    </div>
  </div>
</main>

{% endblock %}
