{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">
  <div>
    <a class="back-link" href="./index.html">Back</a>
  </div>


  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-large">
        Check your answers
      </h2>

      <!--Name Details table-->

      <form>
        <fieldset>



          <!--Operator details-->
          <table>
            <tbody>
              <tr>
                <td class="bold">Operator details</td>
                <td></td>
              </tr>

              <tr>
                <td>Type of operator</td>
                <td class="bold">Charity</td>
                <td>
                  <a href="../index.html">Change</a>
                </td>
              </tr>

              <tr>
                <td>Name</td>
                <td class="bold">Farnborough Jewish Socity</td>
                <td>
                  <a href="../index.html">Change</a>
                </td>
              </tr>

              <tr>
                <td>Charity number</td>
                <td class="bold">202963</td>
                <td>
                  <a href="../index.html">Change</a>
                </td>
              </tr>

              <tr>
                <td>Address</td>
                <td class="bold">
                  <div>Farnborough Jewish Socity</div>
                  <div>London Road</div>
                  <div>Farnborough</div>
                  <div>FN78 2PL</div>
                </td>
                <td>
                  <a href="../index.html">Change</a>
                </td>
              </tr>

              <tr>
                <td>Designated contact</td>
                <td class="bold">
                  <div class="form-hint">Lucasz Plestic • Health and Safety Director</div>
                  <div>07374 917364</div>
                  <div>lplestic@farnboroughsynagogue.co.uk</div>
                </td>
                <td>
                  <a href="../index.html">Change</a>
                </td>
              </tr>




              <!--Establishment details-->

              <tr>
                <td class="bold">Establishment details</td>
                <td></td>
              </tr>

              <tr>
                <td>Establishment</td>
                <td class="bold">Farnborough Synangogue Cafe</td>
                <td>
                  <a href="../index.html">Change</a>
                </td>
              </tr>

              <tr>
                <td>Address</td>
                <td class="bold">
                  <div>Farnborough Synagogue</div>
                  <div>14-16 George Street</div>
                  <div>Farnborough</div>
                  <div>FN3 4HH</div>
                </td>
                <td>
                  <a href="../index.html">Change</a>
                </td>
              </tr>

              <tr>
                <td>Address type</td>
                <td class="bold">Place of business or commerical premises</td>
                <td>
                  <a href="../index.html">Change</a>
                </td>
              </tr>

              <tr>
                <td>Email address</td>
                <td class="bold">jgeier@farnboroughsynagogue.co.uk</td>
                <td>
                  <a href="../index.html">Change</a>
                </td>
              </tr>

              <tr>
                <td>Phone number</td>
                <td class="bold">
                  <div class="bold">026 475 2455</div>
                </td>
                <td>
                  <a href="../index.html">Change</a>
                </td>
              </tr>

              <tr>
                <td>Trading date</td>
                <td class="bold">13 Aug 2018</td>
                <td>
                  <a href="../index.html">Change</a>
                </td>
              </tr>

              <tr>
                <td>Opening days</td>
                <td class="bold">
                  <div>
                    <div>Every day</div>
                    <div class="form-hint">Evening only</div>
                  </div>
                <td>
                  <a href="../index.html">Change</a>
                </td>
              </tr>


              <!--Food activities-->
              <tr>
                <td class="bold">Activities</td>
                <td></td>
              </tr>

              <tr>
                <td>Customers</td>
                <td class="bold">End consumers</td>
                <td>
                  <a href="../index.html">Change</a>
                </td>
              </tr>

              <tr>
                <td>Business type</td>
                <td class="bold">
                  <div class="bold">Restaurant</div>
                  <div class="form-hint-small">Cafe</div>
                </td>
                <td>
                  <a href="../index.html">Change</a>
                </td>
              </tr>

              <tr>
                <td>Food activities</td>
                <td class="bold">
                  <div class="bold">Serving to vulnerable consumers</div>
                </td>
                <td>
                  <a href="../index.html">Change</a>
                </td>
              </tr>

              <tr>
                <td>Import and export</td>
                <td class="bold">
                  <div class="bold">Directly import</div>
                </td>
                <td>
                  <a href="../index.html">Change</a>
                </td>
              </tr>

              <tr>
                <td>Food handlers</td>
                <td class="bold">6-11 food handlers</td>
                <td>
                  <a href="../index.html">Change</a>
                </td>
              </tr>

              <tr>
                <td>Other details</td>
                <td class="bold">We are certified Kosher.</td>
                <td>
                  <a href="../index.html">Change</a>
                </td>
              </tr>



            </tbody>
          </table>



        </fieldset>
      </form>

      <div class="big-gap">
      </div>

      <div class="big-gap">
      </div>


      <!--Continue Button         -->
      <div class="form-group">
        <div class="grid-row">
          <a id="operator-continue-button" class="button" href="./index" role="button">Save and continue</a>
        </div>
      </div>


    </div>
  </div>
</main>

{% endblock %}
