{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">
  <div> <a class="back-link" href="./index.html">Back</a> </div>


  <div class="grid-row">


<h2 class="heading-medium">
   Please check that the details you entered are correct before submitting your registration.
</h2>

<!--Name Details table-->

<form>
<fieldset>



  <!--Operator details-->
  <table>
    <tbody>
      <tr>
        <td class="bold">Operator details</td>
        <td></td>
      </tr>

      <tr>
        <td>Registration type</td>
        <td class="bold">
          <div>New</div>
        </td>
      </tr>

      <tr>
        <td>Name</td>
        <td class="bold">Anna Newman Food Ltd</td>
      </tr>

      <tr>
        <td>Operator type</td>
        <td class="bold">
          <div>Limited company</div>
        </td>
      </tr>

      <tr>
        <td>Company-number</td>
        <td class="bold">
          <div>07856494</div>
        </td>
      </tr>

      <tr>
        <td>Head office address</td>
        <td class="bold">
          <div>14 Friary Lane</div>
          <div>Oxford</div>
          <div>Oxfordshire</div>
          <div>OX65 4NE</div>
        </td>
      </tr>

      <tr>
        <td>Contact number</td>
        <td class="bold">
          <div>07783 746931</div>
          <div>
            <label class="form-hint-small">mobile</label>
          </div>
        </td>
      </tr>

      <tr>
        <td>Email address</td>
        <td class="bold">anna@pastiepals.co.uk</td>
      </tr>



      <!--Establishment details-->

      <tr>
        <td class="bold">Establishment details</td>
        <td></td>
      </tr>

      <tr>
        <td>Establishment name</td>
        <td class="bold">Pastie pals</td>
      </tr>

      <tr>
        <td>Establishment address</td>
        <td class="bold">
          <div>Unit 3A</div>
          <div>Market street</div>
          <div>Oxford</div>
          <div>OX17 9OP</div>
        </td>
      </tr>
      <tr>
        <td>Domestic premesis</td>
        <td class="bold">No</td>
      </tr>
      <tr>
        <td>Establishment email address</td>
        <td class="bold">hello@pastiepals.co.uk</td>
      </tr>
      <tr>
        <td>Establishment phone number</td>
        <td class="bold">01846 193757</td>
      </tr>
      <tr>
        <td>Opening on</td>
        <td class="bold">12 Mar 2018</td>
      </tr>


      <!--Food activities-->
      <tr>
        <td class="bold">Food activities</td>
        <td></td>
      </tr>

      <tr>
        <td>Customer type</td>
        <td>
          <div>Serves to</div>
          <div class="bold">End consumers</div>
        </td>
      </tr>

      <tr>
        <td>Importing and Exporting</td>
        <td class="bold">
          <div>None</div>
        </td>
      </tr>

      <tr>
        <td>Business type</td>
        <td class="bold">Cafe</td>
      </tr>

      <tr>
        <td>Food activities</td>
        <td class="bold">
          <div>Open food</div>
          <div>Re-wrapping and re-packing</div>
        </td>
      </tr>


      <tr>
        <td>Description of food business</td>
        <td class="bold">
          <div>Pastie cafe selling hot and ready to eat food, as well as cooked and frozen food for customers to re-heat at home. </div>
        </td>
      </tr>

    </tbody>
  </table>



</fieldset>
</form>

<!--Declaration	-->

<div class="form-group">
<h2 class="heading-medium">
   Declaration
</h2>

<p>I declare that the information I have given on this form is correct and complete to the best of my knowledge and belief.</p>
<p>I will notify food authorities of any changes to the business, including closure, within 28 days of the change happening.</p>

<p class="heading-medium">Please tick the box below to make the declaration</p>


      <div class="multiple-choice">
        <input id="radio-1" type="checkbox" name="radio-group" value="Northern Ireland">
        <label for="radio-1">I agree </label>
      </div>
</div>

<!--Continue Button         -->
<div class="form-group">
      <div class="grid-row">
        <a id="operator-continue-button" class="button" href="./index" role="button">Submit registration</a>
      </div>
</div>


    </div>
  </div>
</main>

{% endblock %}
