{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">
  <div>
    <a class="back-link" href="./index.html">Back</a>
  </div>


  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-large">
        Check your answers
      </h2>

      <!--Name Details table-->

      <form>
        <fieldset>



          <!--Operator details-->
          <table>
            <tbody>
              <tr>
                <td class="bold">Operator details</td>
                <td></td>
              </tr>

              <tr>
                <td>Type of operator</td>
                <td class="bold">Sole trader</td>
              </tr>

              <tr>
                <td>Name</td>
                <td class="bold">Catelyn Vale</td>
                <td>
                  <a href="../index.html">Change</a>
                </td>
              </tr>

              <tr>
                <td>Address</td>
                <td class="bold">
                  <div>Hill Cottage</div>
                  <div>Water Lane</div>
                  <div>Lyme Regis</div>
                  <div>Devon</div>
                  <div>EX19 7UM</div>
                </td>
                <td>
                  <a href="../index.html">Change</a>
                </td>
              </tr>

              <tr>
                <td>Contact</td>
                <td class="bold">
                  <div>02749 482642</div>
                  <div class="bold">07937 485112</div>
                  <div>sophie.vale-morris@gmail.com</div>
                </td>
                <td>
                  <a href="../index.html">Change</a>
                </td>
              </tr>



              <!--Establishment details-->

              <tr>
                <td class="bold">Establishment details</td>
                <td></td>
              </tr>

              <tr>
                <td>Establishment</td>
                <td class="bold">Old Lyme Cafe
                </td>
                <td>
                  <a href="../index.html">Change</a>
                </td>
              </tr>

              <tr>
                <td>Address</td>
                <td class="bold">
                  <div>65 High Street</div>
                  <div>Lyme Regis</div>
                  <div>EX19 7UU</div>
                </td>
                <td>
                  <a href="../index.html">Change</a>
                </td>
              </tr>

              <tr>
                <td>Address type</td>
                <td class="bold">Place of business or commerical premises</td>
                <td>
                  <a href="../index.html">Change</a>
                </td>
              </tr>

              <tr>
                <td>Email address</td>
                <td class="bold">sophie.vale-morris@gmail.com</td>
                <td>
                  <a href="../index.html">Change</a>
                </td>
              </tr>


              <tr>
                <td>Phone number</td>
                <td class="bold">
                  <div class="bold">023 475 2455</div>
                  <div class="bold">07937 485112</div>
                </td>
                <td>
                  <a href="../index.html">Change</a>
                </td>
              </tr>

              <tr>
                <td>Opened on</td>
                <td class="bold">8 Dec 2017</td>
                <td>
                  <a href="../index.html">Change</a>
                </td>
              </tr>


              <!--Food activities-->
              <tr>
                <td class="bold">Activities</td>
                <td></td>
              </tr>

              <tr>
                <td>Customers</td>
                <td class="bold">End consumers</td>
                <td>
                  <a href="../index.html">Change</a>
                </td>
              </tr>

              <tr>
                <td>Business type</td>
                <td class="bold">
                  <div class="bold">Cafe</div>
                </td>
                <td>
                  <a href="../index.html">Change</a>
                </td>
              </tr>

              <tr>
                <td>Food activities</td>
                <td class="bold">
                  <div class="bold">I only sell drinks and low risk snacks like biscuits or cakes that don't require temperature control</div>
                </td>
                <td>
                  <a href="../index.html">Change</a>
                </td>
              </tr>

              <tr>
                <td>Import and Export</td>
                <td class="bold">No import or export activities</td>
                <td>
                  <a href="../index.html">Change</a>
                </td>
              </tr>


              <tr>
                <td>Food handlers</td>
                <td class="bold">1-5 food handlers</td>
                <td>
                  <a href="../index.html">Change</a>
                </td>
              </tr>


              <tr>
                <td>Additional details</td>
                <td class="bold">
                  <div>I occasionally bake cakes for parties and deliver them to the customer in my car.</div>
                </td>
                <td>
                  <a href="../index.html">Change</a>
                </td>
              </tr>

            </tbody>
          </table>



        </fieldset>
      </form>

      <div class="big-gap">
      </div>

      <div class="big-gap">
      </div>


      <!--Continue Button         -->
      <div class="form-group">
        <div class="grid-row">
          <a id="operator-continue-button" class="button" href="./index" role="button">Save and continue</a>
        </div>
      </div>


    </div>
  </div>
</main>

{% endblock %}