{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">



  <div class="form-group">
    <h1 class="heading-xlarge">
              Opening date
            </h1>



  <!--Select opening date-->
  <div class="form-group">
    <p>
      Businesses begin trading when they first start serving or manufacturing food for customers.
    </p>

    <fieldset>
      <legend>
        <span class="form-label-bold">
          What date will you begin trading?
        </span>
        <span class="form-hint">For example, 14 Feb 2018</span>
      </legend>
      <div class="form-date">
        <div class="form-group form-group-day">
          <label class="form-label" for="dob-day">Day</label>
          <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
        </div>
        <div class="form-group form-group-month">
          <label class="form-label" for="dob-month">Month</label>
          <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
        </div>
        <div class="form-group form-group-year">
          <label class="form-label" for="dob-year">Year</label>
          <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016">
        </div>
      </div>
    </fieldset>
  </div>


  <div class="grid-row">
        <a class="button" href="gds-test/home" role="button">Save and continue</a>
  </div>
</div>









</main>

{% endblock %}
