{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">

  <div> <a class="back-link" href="./operator-ltdcompany-name.html">Back</a> </div>
  <div class="grid-row">
    <div class="column-two-thirds">

        <br>
        <div class=“govuk-caption-xl”>Section 1 of 4</div>

      <h1 class="heading-large">Operator contact details</h1>

      <p>Please give us the details of the person we should speak to about food hygiene and safety.</p>
      <div class="form-group">
        <details>
          <summary><span class="summary">What is a food business operator</span></summary>
          <div class="panel panel-border-narrow">
            <p class="label"> A food business operator is the person, charity or company who makes the decisions about
              the food business, what it serves and how it operates.
              <p>
          </div>
        </details>
      </div>


      <!--					Selectable list with form entry beneath and add more-->
      <div class="list-item-wrapper-vertical">
        <div class="grid-row">
          <div class="form-group-compound">

            <!--				  <div class="form-group contact-input-group">-->
            <div class="form-group-small contact-type-select">

              <!--						<div class="form-group ">-->
              <!--								<select class="form-control form-title-input" name="contact-1" id="contact-1">-->


              <div class="form-group">
                <label class="form-label" for="fbo-first-name">Name of contact</label>
                <input class="form-control" id="fbo-first-name" type="text" name="fbo-first-name">

                <div class="big-gap"></div>

                <label class="form-label" for="fbo-surname">Role (optional)</label>
                <input class="form-control" id="fbo-surname" type="text" name="fbo-surname">

                <div class="big-gap"></div>

                <label class="form-label" for="fbo-surname">Phone number</label>
                <input class="form-control" id="fbo-surname" type="text" name="fbo-surname">
              </div>


            </div>


            <div class="form-group">
              <label class="form-label" for="first-name-2">Email address</label>
              <span class="form-hint">This email address will be used to update you regarding policy or legal changes
                which could affect your food business, and to send reminders to verify this food business registration
                annually.</span>
              </label>
              <input class="form-control" id="first-name-2" name="first-name-2" type="text">
            </div>





          </div>

        </div>

        <div class="grid-row">
          <a class="button" href="./operator-primaryauthority.html" role="button">Continue</a>
        </div>


</main>

{% endblock %}