{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">

  <div> <a class="back-link" href="./operator-partnership-name.html">Back</a> </div>
  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="form-group">

        <h1 class="heading-large">
          Who operates this food business?
        </h1>

        <div class="form-group">
          <details>
            <summary><span class="summary">What is a food business operator</span></summary>
            <div class="panel panel-border-narrow">
              <p class="label"> The food business operator is the person, charity or company who makes the decisions about the food business, what it serves and how it operates.
                <p>
            </div>
          </details>
        </div>


        <!--Correct code-->

        <h2 class="heading-medium">Partners operating this food business</h2>
        <fieldset>
          <form>
            <fieldset>

              <table>

                <tr>
                  <td>Operator name</td>
                  <td>

                  </td>
                </tr>

                <tr>
                  <td class="bold">operator 1</td>
                  <td>
                    <a href="">Remove</a>
                  </td>
                </tr>

                <tr>
                  <td class="bold">Operator 2</td>
                  <td>
                    <a href="">Remove</a>
                  </td>
                </tr>

                <tr>
                  <td class="bold">Operator 3</td>
                  <td>
                    <a href="">Remove</a>
                  </td>
                </tr>

          

              </table>

            </fieldset>
          </form>
      </div>

      <div class="grid-row">
        <a id="operator-continue-button" class="button" href="./operator-partnership-name" role="button">Add another partner</a>
      </div>

      <div class="big-gap"></div>
      <div class="big-gap"></div>
      <div class="big-gap"></div>
      <div class="big-gap"></div>
      <div class="big-gap"></div>
      <div class="big-gap"></div>




      <div class="grid-row">
        <a id="operator-continue-button" class="button" href="./operator-partnership-select-contact.html" role="button">Continue</a>
      </div>

    </div>
  </div>

</main>

{% endblock %}
