{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">


  <div class="grid-row">
    <div class="column-two-thirds">

        <br>
        <div class=“govuk-caption-xl”>Section 4 of 4</div>

      <h2 class="heading-large">
        Submission complete
      </h2>

      <p>Thank you for submitting your food business registration. </p>

      

      <div class="alert.complete">
        <p class="reg-box-text">Your unique food business registration number is</p>
        <p class="reg-box-number">MV2QHL - W89W7M - 3GT9Q7</p>
      </div>

      <div class="big-gap"></div>
      <div class="panel panel-border-wide">
        <p>Please keep note of this registration number for your records. </p>
      </div>
      <div class="big-gap"></div>




      <div>
        <p class="heading-medium" style="margin-bottom:0px"> Submitted on</p>
        <p>11 Dec 2018</p>

        <p class="heading-medium" style="margin-bottom:10px">Your registration has been sent to:</p>
            <span class="bold-small margin-top:0px margin-bottom:0px">Longfield City Council</span>
          </br>
          <span style="margin-top:0px" style="margin-bottom:0px">Email: fsatestemail.valid@gmail.com</span>
        </br>
          <span>Phone: 123456789</span>
          <div class="big-gap"></div>
          <div class="big-gap"></div>

          <p>A copy of this registration has been sent to <span class="bold">example@fboemail.co.uk</span>. 
            <p/p>

              <h2 class="heading-large">
                What's next?
              </h2>

              <div class="panel panel-border-wide">
                <p class="heading-small">
                  You may receive an unannounced food inspection from your local council soon after you start trading.
                </p>
              </div>


              <div class="big-gap">
              </div>

              <p>The council may contact you before the inspection to discuss how your business operates or to offer advice. Meanwhile, there are some things you can do to help prepare for the opening of your business.
                <td>
                  <a href="../index.html"></a>
                </td>
                </tr>
              </p>
              <div>
                <h2 class="heading-large">
                  Find out here what you can do to prepare:
                </h2>
                <p>
                  <td>
                    <a href="https://www.food.gov.uk/business-guidance">Guidance on food hygiene and how to run a safe food business</a>
                  </td>
                  </tr>
                </p>
                <p>
                  <td>
                    <a href="https://www.food.gov.uk/business-guidance/food-hygiene-ratings-for-businesses">How to achieve a high food hygiene rating (FHRS score)</a>
                  </td>
                  </tr>
                </p>
                <p>
                 <p>
                   <td>
                    <a href="https://www.food.gov.uk/business-guidance/safer-food-better-business">Information on the food safety management system safer food, better business</a>
                   </td>
                   </tr>
                 </p>
                <p>
                  <td>
                    <a href="https://www.food.gov.uk/business-guidance/industry-specific-advice/labelling-and-allergens">Food labelling and allergens guidance</a>
                  </td>
                  </tr>
                </p>
                <p>
                  <td>
                    <a href="https://www.gov.uk/business-support-helpline">General guidance on business growth and finance, including phone numbers for the Business Support Helpline</a>
                  </td>
                  </tr>
                </p>
              </div>



              <hr></hr>
              <!--Name Details table-->

              <form>
                <fieldset>



                  <!--Operator details-->
                  <table>
                    <tbody>
                      <tr>
                        <td class="bold">Operator details</td>
                        <td></td>
                      </tr>

                      <tr>
                        <td>Type of operator</td>
                        <td class="bold">Charity</td>
                      </tr>

                      <tr>
                        <td>Name</td>
                        <td class="bold">Farnborough Jewish Socity</td>

                      </tr>

                      <tr>
                        <td>Charity number</td>
                        <td class="bold">202963</td>

                      </tr>

                      <tr>
                        <td>Address</td>
                        <td class="bold">
                          <div>Farnborough Jewish Society</div>
                          <div>London Road</div>
                          <div>Farnborough</div>
                          <div>FN78 2PL</div>
                        </td>

                      </tr>

                      <tr>
                        <td>Designated contact</td>
                        <td class="bold">
                          <div class="form-hint">Lucasz Plestic • Safety Director</div>
                          <div>07374 917364</div>
                          <div>lplestic@farnboroughsynagogue.co.uk</div>
                        </td>

                      </tr>




                      <!--Establishment details-->

                      <tr>
                        <td class="bold">Establishment details</td>
                        <td></td>
                      </tr>

                      <tr>
                        <td>Establishment</td>
                        <td class="bold">Farnborough Synangogue Cafe</td>
                      </tr>

                      <tr>
                        <td>Establishment type</td>
                        <td class="bold">Place of business or commercial premises</td>
                      </tr>

                      <tr>
                        <td>Address</td>
                        <td class="bold">
                          <div>Farnborough Synagogue</div>
                          <div>14-16 George Street</div>
                          <div>Farnborough</div>
                          <div>FN3 4HH</div>
                        </td>

                      </tr>

                      <tr>
                        <td>Email address</td>
                        <td class="bold">jgeier@farnboroughsynanguge.co.uk</td>

                      </tr>

                      <tr>
                        <td>Phone number</td>
                        <td class="bold">
                          <div class="bold">026 475 2455</div>
                        </td>

                      </tr>

                      <tr>
                        <td>Due to open</td>
                        <td class="bold">13 Aug 2018</td>

                      </tr>


                      <!--Food activities-->
                      <tr>
                        <td class="bold">Activities</td>
                        <td></td>
                      </tr>

                      <tr>
                        <td>Supply food to</td>
                        <td class="bold">End consumers</td>

                      </tr>

                      <tr>
                        <td>Business type</td>
                        <td class="bold">
                          <div class="bold">Restaurant</div>
                        </td>
                      </tr>

                      <tr>
                        <td>Import and export</td>
                        <td class="bold">Directly import</td>
                        <td>
                          <a href="../index.html">Change</a>
                        </td>
                      </tr>

                      <tr>
                        <td>Other details</td>
                        <td class="bold">Our kitchen is Kosher.</td>

                      </tr>

                      <tr>
                        <td class="bold">Declaration</td>
                        <td></td>
                      </tr>

                      <tr>
                        <td>I declare that the information I have given on this form is correct and complete to the best of my
                          knowledge and belief.</td>
                        <td class="bold">Accepted</td>
                      </tr>

                      <tr>
                        <td>The operator will notify food authorities of any significant changes to the business activity, including
                          closure, within 28 days of the change happening.</td>
                        <td class="bold">Accepted</td>
                      </tr>

                      <tr>
                        <td>The operator understands they are legally responsible for the safety and authenticity of the food
                          being produced or served at this establishment.</td>
                        <td class="bold">Accepted</td>
                      </tr>



                    </tbody>
                  </table>



                </fieldset>
              </form>

              <div class="big-gap">
              </div>

              <div class="big-gap">
              </div>



      </div>
    </div>
</main>

{% endblock %}
