{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">


  <div class="grid-row">
    <div class="column-two-thirds">

        <br>
        <div class=“govuk-caption-xl”>Section 4 of 4</div>

      <h2 class="heading-large">
        Submission complete
      </h2>

      <p>Thank you for submitting your food business registration. </p>

      <p>A copy of this registration has been sent to <span class="bold">example@fboemail.co.uk</span>. 
        <p/p>

      <div class="alert-complete">
        <p class="alert-message-intro">Your unique food business registration number is</p>
        <p class="alert-number">MV2QHL - W89W7M - 3GT9Q7</p>
      </div>

      <div class="big-gap"></div>
      <div class="big-gap"></div>


      <div class="panel panel-border-wide">
        <p>Please keep note of this registration number for your records. </p>
      </div>
      <div class="big-gap"></div>




      <div>
        <p class="heading-medium" style="margin-bottom:0px"> Submitted on</p>
        <p>11 Dec 2018</p>

        <p class="heading-medium" style="margin-bottom:10px">Your registration has been sent to:</p>
            <span class="bold-small margin-top:0px margin-bottom:0px">Longfield City Council</span>
          </br>
          <span style="margin-top:0px" style="margin-bottom:0px">Email: fsatestemail.valid@gmail.com</span>
        </br>
          <span>Phone: 123456789</span>
          <div class="big-gap"></div>
          <div class="big-gap"></div>

        

              <h2 class="heading-large">
                What's next?
              </h2>

              <div class="panel panel-border-wide">
                <p class="heading-small">
                  You may receive an unannounced food inspection from your local council soon after you start trading.
                </p>
              </div>


              <div class="big-gap">
              </div>

              <p>The council may contact you before the inspection to discuss how your business operates or to offer advice. Meanwhile, there are some things you can do to help prepare for the opening of your business.
                <td>
                  <a href="../index.html"></a>
                </td>
                </tr>
              </p>
              <div>
                <h2 class="heading-large">
                  Find out here what you can do to prepare:
                </h2>
                <p>
                  <td>
                    <a href="https://www.food.gov.uk/business-guidance">Guidance on food hygiene and how to run a safe food business</a>
                  </td>
                  </tr>
                </p>
                <p>
                  <td>
                    <a href="https://www.food.gov.uk/business-guidance/food-hygiene-ratings-for-businesses">How to achieve a high food hygiene rating (FHRS score)</a>
                  </td>
                  </tr>
                </p>
                <p>
                 <p>
                   <td>
                    <a href="https://www.food.gov.uk/business-guidance/safer-food-better-business">Information on the food safety management system safer food, better business</a>
                   </td>
                   </tr>
                 </p>
                <p>
                  <td>
                    <a href="https://www.food.gov.uk/business-guidance/industry-specific-advice/labelling-and-allergens">Food labelling and allergens guidance</a>
                  </td>
                  </tr>
                </p>
                <p>
                  <td>
                    <a href="https://www.gov.uk/business-support-helpline">General guidance on business growth and finance, including phone numbers for the Business Support Helpline</a>
                  </td>
                  </tr>
                </p>
              </div>



              <hr></hr>
              <!--Name Details table-->

              <form>
                <fieldset>



                  <!--Operator details-->
                  <table>
                    <tbody>
                      <tr>
                        <td class="bold">Operator details</td>
                        <td></td>
                      </tr>

                      <tr>
                        <td>Type of operator</td>
                        <td class="bold">Limited company</td>
                      </tr>

                      <tr>
                        <td>Name</td>
                        <td class="bold">Company10</td>

                      </tr>

                      <tr>
                        <td>Company number</td>
                        <td class="bold">12345678</td>

                      </tr>

                      <tr>
                        <td>Designated contact</td>
                        <td class="bold">
                          <div class="form-hint">Tim Turner • Manager</div>
                          <div>07123456789</div>
                          <div>tim@email.co.uk</div>
                        </td>

                      </tr>

                      <tr>
                          <td>Primary Authority agreement</td>
                          <td class="bold">
                            <div></div>
                            <div>No</div>

                          </td>
  
                        </tr>




                      <!--Establishment details-->

                      <tr>
                        <td class="bold">Establishment details</td>
                        <td></td>
                      </tr>

                      <tr>
                        <td>Establishment name</td>
                        <td class="bold">Company10</td>
                      </tr>

                      <tr>
                        <td>Establishment type</td>
                        <td class="bold">Place of business or commercial premises</td>
                      </tr>

                      <tr>
                        <td>Opening hours</td>
                        <td class="bold">
                          <div>Mon 10:00 to 20:00</div>
                          <div>Tue 10:00 to 20:00</div>
                          <div>Wed 10:00 to 20:00</div>
                          <div>Thu 10:00 to 20:00</div>
                          <div>Fri 10:00 to 21:00</div>
                          <div>Sat 12:00 to 16:00</div>
                        </td>

                      </tr>



                      <!--Food activities-->
                      <tr>
                        <td class="bold">Activities</td>
                        <td></td>
                      </tr>

                      <tr>
                        <td>Business type</td>
                        <td class="bold">
                          <div class="bold">Corner shop</div>
                        </td>
                      </tr>

                      <tr>
                          <td>Business activities</td>
                          <td class="bold">
                            <div class="bold">Cooks, handles or prepares high risk food</div>
                          </td>
                        </tr>

                      <tr>
                        <td>Import and export</td>
                        <td class="bold">No import or export import</td>
                      
                      </tr>

                      <tr>
                          <td>Water supply</td>
                          <td class="bold">Public water supply</td>
                        
                        </tr>


                    </tbody>
                  </table>



                </fieldset>
              </form>

              <div class="big-gap">
              </div>

              <div class="big-gap">
              </div>



      </div>
    </div>
</main>

{% endblock %}
