{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">

  <div> <a class="back-link" href="./index.html">Back</a> </div>
  <div class="grid-row">


      <h1 class="heading-large">Other details</h1>
      <div class="form-group">
        <label class="form-label" for="textarea">
        Is there anything else you need to tell us about this establishment? (optional)
      </label>
        <textarea class="form-control form-control-3-4" name="textarea" id="textarea" rows="5"></textarea>
      </div>


      <div class="grid-row">
        <a class="button" href="./index.html" role="button">Save and continue</a>
      </div>




      </details>

  </div>
  </div>







</main>

{% endblock %}
