{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">


  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Something went wrong
      </h1>
      <p>
        Something has gone wrong with submitting your registration.
      </p>
      <p>
        We will keep trying to submit your registrationn, and you'll receive an email when it has successfully been submitted to your local authority.
      </p>

      <hr></hr>

      <div class="square">
        <p class="reg-box-text">Your unique food business registration number is</p>
        <p class="bold">1535 - 3567 - 4456 - 3456</p>
      </div>

      <p>A copy of this registration has been sent to <span class="bold">user@gmail.co.uk</span>. You can also download a copy of the registration.
      </p>

          <div class="form-group">
            <div class="grid-row">
              <a id="operator-continue-button" class="button" href="./index" role="button">Download PDF</a>
            </div>
          </div>



    </div>
  </div>
</main>

{% endblock %}
