{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">
  <div> <a class="back-link" href="./index.html">Back to start</a> </div>


  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        This service is currently unavailable
      </h1>
      <p>
        Sorry about that, we seem to be experiencing some difficulties.
      </p>
      <p>
        Please try again later.
      </p>

      <div class="grid-row">
        <a id="operator-continue-button" class="button" href="https://www.food.gov.uk/" role="button">Return to food.gov.uk</a>
      </div>


    </div>
  </div>
</main>

{% endblock %}
