{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">
  <div> <a class="back-link" href="./index.html">Back to start</a> </div>


  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Page not found
      </h1>



      <div class="govuk-width-container">

        <div class="govuk-main-wrapper">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

              <p class="govuk-body">Please contact your Local Council if you need to speak to someone about your food business registration urgently.</p>

            </div>
          </div>
        </div>

        <div class="grid-row">
          <a class="button" href="./index.html" role="button">Return to previous page</a>
        </div>


      </div>



    </div>
  </div>
</main>

{% endblock %}
