{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">


  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Your browser is not supported
      </h1>
      <p>
        This service won't work on your browser.
      </p>
      <p>
        You can either update your browser, or <a href="">download a pdf form to register</a>.
      </p>


    </div>
  </div>
</main>

{% endblock %}
