{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">

  <div> <a class="back-link" href="./index.html">Back</a> </div>
  <div class="grid-row">
    <div class="column-two-thirds">


      <h1 class="heading-large">Company details</h1>
      <div class="form-group">
        <label class="form-label" for="fbo-name">Company name</label>
        <input class="form-control" id="fbo-name" type="text" name="fbo-name">
      </div>

      <div class="form-group">
        <label class="form-label" for="fbo-company-number">Companies House number</label>
        <input class="form-control" id="fbo-company-number" type="text" name="fbo-company-number">
      </div>

      <div class="form-group">
        <details>
          <summary><span class="summary">Questions about Companies House numbers</span></summary>
          <div class="panel panel-border-narrow">
            <p class="label"> Every limited company has to be registered with Companies House, and will have a company reference number. You can find your company reference number by visiting the  <a href="https://beta.companieshouse.gov.uk/">Companies House website.</a></p>
          </div>
        </details>
      </div>

      <div class="grid-row">
        <a class="button" href="./index.html" role="button">Save and continue</a>
      </div>




      </details>
    </div>

  </div>
  </div>







</main>

{% endblock %}
