{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="form-group">
        <h1 class="heading-large">
        Message sent
      </h1>
        <p>
          Your text message was successfully sent.
        </p>


        <form>
          <fieldset>
            <table>
              <tbody>
                <tr>
                  <td>Date sent</td>
                  <td class="bold">29 Sep 2018</td>
                </tr>
                <tr>
                  <td>Name</td>
                  <td class="bold">Jamie McKinnon</td>
                </tr>

                <tr>
                  <td>Phone number</td>
                  <td class="bold">07783 765345</td>
                </tr>

                <tr>
                  <td>Est postcode</td>
                  <td class="bold">SA45 8PD</td>
                </tr>

              </tbody>
            </table>

          </fieldset>
        </form>
      </div>

      <div class="big-gap"></div>
      <div class="big-gap"></div>
      <div class="big-gap"></div>

      <div class="grid-row">
        <a id="operator-continue-button" class="button" href="./index" role="button">Send another</a>
      </div>

</main>

{% endblock %}
