{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">

  <div> <a class="back-link" href="./operator-details.html">Back</a> </div>
  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="form-group">
      <h1 class="heading-large">
        Establishment details
      </h1>

      <div class="form-group">
        <label class="form-label" for="first-name-2">Postcode</label>
        <input class="form-control" id="first-name-2" name="first-name-2" type="text">
      </div>

      <div class="big-gap"></div>

      </div>

      <div class="form-group">
        <div class="grid-row">
          <a id="operator-continue-button" class="button" href="./summary" role="button">Continue</a>
        </div>
      </div>

</main>

{% endblock %}
