{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="form-group">
        <h1 class="heading-large">
        Send a food business registration link
      </h1>
        <p>
          You can use this service to send a text message with a link to register their food business to a food business operator.
        </p>
        <p>
          Before you start, you will need 3 pieces of information
          <ul class="list-bullet">
            <li>Operator's name</li>
            <li>Operator's mobile phone number</li>
            <li>Establishment postcode</li>
          </ul>
        </p>
      </div>

      <div class="grid-row">
        <a id="operator-continue-button" class="button button-start" href="./operator-details" role="button">Start now</a>
      </div>

</main>

{% endblock %}
