{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">
  <div> <a class="back-link" href="./index.html">Back</a> </div>


  <div class="grid-row">
    <div class="column-two-thirds">


      <form>
        <div class="form-group">
          <fieldset>

            <form>
              <div class="form-group">

                <fieldset>
                  <form>
                    <fieldset>

                      <legend>
                        <h1 class="heading-large">Opening times</h1>
                        <div class="big-gap"></div>

                      </legend>
                      <div class="form-group">
                        <label class="form-hint" for="fbo-name">
                        <ul>
                        <li>The opening time options are:</li>
                          <li>24 hours</li>
                          <li>Daytime only</li>
                          <li>Afternoon and evening</li>
                          <li>Evening only</li>
                        </ul>
                      </label>
                      </div>

                      <div class="form-group">
                        <div class="multiple-choice">
                          <input id="waste-type-1" name="waste-types" type="radio" value="waste-animal">
                          <label for="waste-type-1">Same times each day</label>
                        </div>

                        <div class="multiple-choice">
                          <input id="waste-type-2" name="waste-types" type="radio" value="waste-mines">
                          <label for="waste-type-2">Different times</label>
                        </div>

                      </div>


                    </fieldset>
                  </form>
              </div>

              <div class="big-gap"></div>


            </form>

            </diov>
            <div class="grid-row">
              <a id="operator-continue-button" class="button" href="./index" role="button">Continue</a>
            </div>


            </fieldset>
        </div>
      </form>


    </div>
  </div>
</main>

{% endblock %}
