{% extends "layout.html" %} {% block page_title %} Register a food business {%
endblock %} {% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Registering a food business</h1>

      <div class="panel panel-border-wide">
        <p class="heading-small">
          Please ask permission from the Slice and Dice team before sharing this
          site with other people. As it is a design playground for ideas, it may
          be out of date or misleading and not truly reflect what the team are
          currently working towards.
        </p>
      </div>

      <p class="heading-medium">Main registration pages</p>
      <div class="grid-row">
        <a
          class="button button-start"
          href="./reg-pages/index.html"
          role="button"
          >Registration flow</a
        >
      </div>

      <div class="big-gap"></div>
      <div class="big-gap"></div>

      <p class="heading-medium">Supplementary designs and information</p>

      <div class="grid-row">
        <a
          class="button button-start"
          href="/la-summary/la-summary.html"
          role="button"
          >Local Council Summary</a
        >
      </div>

      <div class="big-gap"></div>
      <div class="big-gap"></div>

      <div class="grid-row">
        <a class="button button-start" href="./gds-test/home.html" role="button"
          >Example GDS form pages</a
        >
      </div>

      <div class="big-gap"></div>
      <div class="big-gap"></div>

      <div class="grid-row">
        <a
          class="button button-start"
          href="./send-text/index.html"
          role="button"
          >Send registration notification</a
        >
      </div>

      <div class="big-gap"></div>
      <div class="big-gap"></div>

      <div class="grid-row">
        <a
          class="button button-start"
          href="./maintain/index.html"
          role="button"
          >Maintain a registration</a
        >
      </div>
    </div>
  </div>
</main>

{% endblock %}
