{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">



  <div class="form-group">
    <h1 class="heading-xlarge">
              New food business registration
            </h1>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="govuk-box-highlight">
        <p class="font-medium">
          Due to open
          <strong class="bold">05 Feb 2018</strong>
        </p>
      </div>
    </div>

    <!--summary table-->

    <!--Operator details-->
    <table>
      <tbody>
        <tr>
          <td class="bold">Operator details</td>
          <td></td>
        </tr>
        <tr>
          <td>Name</td>
          <td class="bold">Catelyn Burrows</td>
        </tr>
        <tr>
          <td>Ownership type</td>
          <td class="bold">Owner and operator</td>
        </tr>
        <tr>
          <td>Operator home address</td>
          <td class="bold">
            <div>14 Lavendar Row</div>
            <div>Bristol</div>
            <div>BR3 4HG</div>
            <div>
              <label class="form-hint-small">Verified</label>
            </div>
          </td>
        </tr>
        <tr>
          <td>Contact number</td>
          <td class="bold">078345 716253</td>
        </tr>
        <tr>
          <td>Email address</td>
          <td class="bold">catelyn-burrows-123@gmail.com</td>
        </tr>
        <tr>
          <td>Submitted</td>
          <td class="bold">
            <div>20 Dec 2017 at 14:36</div>
            <div>
              <label class="form-hint-small">Submitted via FSA online portal</label>
            </div>

          </td>
        </tr>


        <!--Establishment details-->

        <tr>
          <td class="bold">Establishment details</td>
          <td></td>
        </tr>
        <tr>
          <td>Establishment name</td>
          <td class="bold">Catelyn's Cakes</td>
        </tr>
        <tr>
          <td>Establishment status</td>
          <td class="bold">New food business</td>
        </tr>
        <tr>
          <td>Establishment address</td>
          <td class="bold">
            <div>45 High Street</div>
            <div>Bath</div>
            <div>BA6 9GC</div>
            <div>
              <label class="form-hint-small">Verified with Google Places</label>
            </div>
          </td>
        </tr>
        <tr>
          <td>Establishment email address</td>
          <td class="bold">catelyn-burrows-123@gmail.com</td>
        </tr>
        <tr>
          <td>Establishment phone number</td>
          <td class="bold">01543 675849</td>
        </tr>
        <tr>
          <td>Due to open</td>
          <td class="bold">5 Feb 2018</td>
        </tr>
        <tr>
          <td>Opening hours</td>
          <td class="bold">
            <div>Tuesday to Saturday</div>
            <div>10:00 - 20:00</div>
            <div>
              <label class="form-hint-small">Verified with Google Places</label>
            </div>
          </td>
        </tr>


        <!--Food activities-->
        <tr>
          <td class="bold">Food activities</td>
          <td></td>
        </tr>
        <tr>
          <td>Food business type</td>
          <td class="bold">
            <div>Bakery with retail</div>
            <div>Restaurant/Cafe</div>
          </td>
        </tr>
        <tr>
          <td>Description</td>
          <td class="bold">
            <div>"A small bakery specialising in cupcakes with a cafe area attached.</div>
            <div>Serves cakes, pastries and coffee to local customers. Also</div>
            <div>manufactures cakes for catering firms eg. birthday parties,</div>
            <div>corporate events etc."</div>
          </td>
        </tr>
        <tr>
          <td>Food distribution</td>
          <td class="bold">
            <div>Serves food direct to consumers</div>
            <div>Manufactures food to be sold to distributors</div>
          </td>
        </tr>
        <tr>
          <td>Importing and Exporting</td>
          <td class="bold">
            No import or export activities
          </td>
        </tr>





      </tbody>
    </table>










</main>

{% endblock %}
