{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">

  <div> <a class="back-link" href="/fbo-type.html">Back to operator type</a> </div>
  <div class="grid-row">
    <div class="column-two-thirds">

      <div class+ "form-group">
        <h1 class="heading-large">
        Food business operator
      </h1>
        <p>
          A food business operator is the person or company who is responsible for the direction and food safety of this food business.
        </p>
      </div>

      <h1 class="heading-large">Sole trader details</h1>
      <div class="form-group">
        <label class="form-label" for="fbo-first-name">First name</label>
        <input class="form-control" id="fbo-first-name" type="text" name="fbo-first-name">
      </div>

      <div class="form-group">
        <label class="form-label" for="fbo-surname">Surname name</label>
        <input class="form-control" id="fbo-surname" type="text" name="fbo-surname">
      </div>

      <div class="grid-row">
        <a class="button" href="/contact.html" role="button">Save and continue</a>
      </div>


</main>

{% endblock %}
