{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}
<meta charset='utf-8'>
<main id="content" role="main">
  <div class="grid-row">

    <div> <a class="back-link" href="/.html">Back</a> </div>

    <h1 class="heading-large">
        User testing flows
      </h1>

    <ul class="list">
      <li class="heading-medium">Partnership of operators</li>
      <li><a href="./operator-type">Start</a></li>
    </ul>

    <ul class="list">
      <li class="heading-medium">Establishment address details</li>
      <li><a href="./establishment-address-type">Start</a></li>
    </ul>

    <ul class="list">
      <li class="heading-medium">Trading dates and times</li>
      <li><a href="./opening-days-start">Start</a></li>
    </ul>










  </div>
  </details>
  </div>




  </div>
</main>

{% endblock %}
