{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">



  <div class="form-group">
    <h1 class="heading-xlarge">
              Local Council prototypes
            </h1>
  </div>


<!--Small FBO-->
  <div class="form-group">
    <h1 class="heading-large">
    Independant food business
  </h1>
    <h1 class="heading-small">
    Catelyn
  </h1>
    <p>
      She owns and operates a small cafe specialising in cupcakes. Very little experience in the food industry.
    </p>
    <div>
          <a class="button" href="/la-summary/small-fbo.html" role="button">Small food business summary</a>
    </div>
  </div>

<hr>
</hr>


  <!--Independant FBO chain-->
    <div class="form-group">
      <h1 class="heading-large">
      Small independant chain FBO
    </h1>
      <h1 class="heading-small">
      Jaime
    </h1>
      <p>
        She owns multiple food businesses in several diferent local authorities and has worked in the food industry for a very long time. Fully prepared and well versed in food safety.
      </p>
      <div>
            <a class="button" href="/la-summary/small-fbo.html" role="button">Independant chain summary</a>
      </div>
    </div>
    <hr>
    </hr>


    <!--Independant FBO chain-->
      <div class="form-group">
        <h1 class="heading-large">
        Large food business chain
      </h1>
        <h1 class="heading-small">
        Samantha
      </h1>
        <p>
          Works in adminstration at a large food retail chain. Responsible for registering and licencing al  the food businesses they open in her region.
        </p>
        <div>
              <a class="button" href="/la-summary/small-fbo.html" role="button">Large food chain summary</a>
        </div>
      </div>
      <hr>
      </hr>







</main>

{% endblock %}
