{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">



  <div class="form-group">
    <h1 class="heading-xlarge">
              New food business registration
            </h1>
  </div>
  <div class="grid-row">

    <!--Summary Table-->

    <!--Operator details-->
<div class="form-group">
    <table>
      <tbody>
        <tr>
          <td class="bold">Operator details</td>
          <td></td>
        </tr>

        <tr>
          <td>Registration type</td>
          <td class="bold">New food business</td>
        </tr>

        <tr>
          <td>Food business registration reference</td>
          <td class="bold">17CB576746-N</td>
        </tr>

        <tr>
          <td>Date submitted</td>
          <td class="bold">
            <div>20 Dec 2017</div>
            <div>
              <label class="form-hint-small">Submitted via FSA online portal</label>
            </div>
          </td>
        </tr>

        <tr>
          <td>Operator Name</td>
          <td class="bold">Catelyn Burrows</td>
        </tr>

        <tr>
          <td>Operator type</td>
          <td class="bold">Sole trader</td>
        </tr>

        <tr>
          <td>Operator home address</td>
          <td class="bold">
            <div>14 Lavendar Row</div>
            <div>Bristol</div>
            <div>BR3 4HG</div>
            <div>
              <label class="form-hint-small">Verified</label>
            </div>
          </td>
        </tr>

        <tr>
          <td>Phone number</td>
          <td class="bold">
            <div>07891 274669</div>
            <div>
              <label class="form-hint-small">Mobile</label>
            </div>
          </td>
        </tr>

        <tr>
          <td>Email address</td>
          <td class="bold">catelyn-burrows-123@gmail.com</td>
        </tr>



        <!--Establishment details-->

        <tr>
          <td class="bold">Establishment details</td>
          <td></td>
        </tr>

        <tr>
          <td>Establishment name</td>
          <td class="bold">Catelyn's Cakes</td>
        </tr>

        <tr>
          <td>Establishment type</td>
          <td class="bold">Unlicenced restaurant</td>
        </tr>

        <tr>
          <td>Establishment address</td>
          <td class="bold">
            <div>45 High Street</div>
            <div>Bath</div>
            <div>BA6 9GC</div>
            <div>
              <label class="form-hint-small">Verified with Google Places</label>
            </div>
          </td>
        </tr>
        <tr>
          <td>Establishment email address</td>
          <td class="bold">catelyn-burrows-123@gmail.com</td>
        </tr>
        <tr>
          <td>Establishment phone number</td>
          <td class="bold">01543 675849</td>
        </tr>
        <tr>
          <td>Due to open</td>
          <td class="bold">
            <div>12 Nov 2017</div>
            <div>23 days ago</div>
          </td>
        </tr>
        <tr>
          <td>Opening hours</td>
          <td class="bold">
            <div>Tuesday to Saturday</div>
            <div>10:00 - 20:00</div>
            <div>
              <label class="form-hint-small">Verified with Google Places</label>
            </div>
          </td>
        </tr>


        <!--Food activities-->
        <tr>
          <td class="bold">Food activities</td>
          <td></td>
        </tr>

        <tr>
          <td>Customer type</td>
          <td class="bold">
            <div>Children under 5</div>
            <div>
              <label class="form-hint-small">Vulnerable customers</label>
            </div>
          </td>
        </tr>

        <tr>
          <td>Food business type</td>
          <td class="bold">
            <div>Bakery with retail</div>
            <div>Restaurant/Cafe</div>
            <div>Food distributor</div>
          </td>
        </tr>

        <tr>
          <td>Distribution scale</td>
          <td class="bold">
            <div>Serves food direct to consumers</div>
          </td>
        </tr>

        <tr>
          <td>International trade</td>
          <td class="bold">
            No import or export activities
          </td>
        </tr>

        <tr>
          <td>Importing and exporting activities</td>
          <td class="bold">
            No import or export activities
          </td>
        </tr>


      </tbody>
    </table>
  </div>

<div class="form-group">
    <div>
          <a class="button" href="" role="button">Download as PDF</a>
    </div>

</div>






</main>

{% endblock %}
