{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">


  <div class="form-group">
    <h1 class="heading-xlarge">
      Submission confirmation
    </h1>
  <div>



  <!--Select opening date-->

  <div class="form-group">
  <div class="alert-complete" role="alert">

      <div class="alert-message">
        <p>Your food business registration number is</p>
        <strong class="alert-number">NH011356-D</strong>
      </div>

    </div>
    </div>



  <div class+"form-group">
    <p>Registration successfully submitted to</p>
    <p class="bold">Bristol City Council</p>
    <p class="form-hint-small">Submitted on 11 Jan 2018</p>
  </div>

<hr>
</hr>

  <div class="form-group">
    <p>
      Your food business registration has been successfully sumitted to
      <b> Bristol City Council </b>.
      You will receive another confirmation when they have processed your registration, and will be informed of anything else you need to do before your first inspection.
    </p>
    <p>
      Please keep a note of your registration number, you may need it in the future.
    </p>




  </div>




</div>









</main>

{% endblock %}
