{% extends "layout.html" %} {% block page_title %} Register a food business {% endblock %} {% block content %}

<main id="content" role="main">



  <div class="form-group">
    <h1 class="heading-xlarge">
              GDS testing pages
            </h1>
  </div>


<!--Opening date-->
  <div class="form-group">
    <h1 class="heading-large">
    Opening date
  </h1>
    <p>
      Inputting the opening date for the food business
    </p>
    <div>
          <a class="button" href="/gds-test/select-date-v1" role="button">Opening date</a>
    </div>
  </div>

<hr>
</hr>


  <!--Confirm submission-->
    <div class="form-group">
      <h1 class="heading-large">
      Confirm submission
    </h1>
      <p>
        Upon completing the food business registration, the user is shown a confirmation message informing them that the registration has successfully been submitted.
      </p>
      <div>
            <a class="button" href="/gds-test/confirm-submission-v1" role="button">Confirm submission</a>
      </div>
    </div>
    <hr>
    </hr>


    <!--Independant FBO chain-->
      <div class="form-group">
        <h1 class="heading-large">
        Large food business chain
      </h1>
        <h1 class="heading-small">
        Samantha
      </h1>
        <p>
          Works in adminstration at a large food retail chain. Responsible for registering and licencing al  the food businesses they open in her region.
        </p>
        <div>
              <a class="button" href="/la-summary/small-fbo.html" role="button">Large food chain summary</a>
        </div>
      </div>
      <hr>
      </hr>







</main>

{% endblock %}
